:host {
    width: 100%;
    height: 100%;
    padding: 160px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.header {
    width: 100%;
    height: 56px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #758FEA;
    border-radius: 0px 0px 20px 20px;
    animation: header 500ms;
    
    p {
        width: 100%;
        text-align: center;
        color: #FFFFFF;
    }
}

.word {
    padding: 3px 25px;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 500;
    color: #5365A7;
    border: 2px solid #5365A7;
    border-radius: 30px;
}

.synonyms-buttons {
    display: flex;
    flex-direction: column;

    button {
        width: 200px;
        height: 40px;
        margin: 8px 0;
        background-color: #F7F7F7;
        border-radius: 32px;
        font-size: 20px;
        color: #5365A7;
        transition: all 300ms;
    }
}
