.games-list {
    height: calc(100vh - 94px);
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 24px 16px;
    overflow-y: scroll;
}

button {
    height: 180px;
    background-color: var(--button-menu-bg);
    border-radius: 16px;
    font-size: 16px;
    color: black;

    &:active {
        background-color: var(--accent-color);
        color: var(--button-active-text);
    }
}