:host {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #afdbff8c;
    z-index: -1;
}

.water-level {
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    background-color: #4183b98c;
    transition: all 1000ms;
}