<div class="source-box">
  <p>{{source}}</p>
</div>
<div  class="buttons-container">
  <button class="button button_small" (click) = 'refresh()'>
    <img  src="../../../../assets/bricks/refresh.svg">
  </button>
  <button [ngClass]="{pulsation : isRecognitionStarted}" class="button button_small" (click) = 'onListening()'>  
    <img src="../../../../assets/bricks/mic.svg">     
  </button>
  <button class="button button_small" (click) = 'listenExample()'>
    <img src="../../../../assets/bricks/volume.svg">
  </button>
</div>

<p>{{mark}}</p>


