:host {
    width: 100%;
    height: 100%;
    padding: 160px 20px 46px 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    max-width: 270px;
    width: 100%;
}

.source-box {
    background-color: #DADADA;
    max-width: 252px;
    width: 100%;
    text-align: center;
    padding: 18px 12px;
    border-radius: 20px;
    align-items: center;
    p {
        color: #111111;
    }
}


.button {
    max-width: 56px;
    width: 100%;
    height: 56px;
    margin-top: 15px;
    background-color: #758FEA;
    border-radius: 24px;
    font-size: 24px;
    color: white;
    transition: all 300ms;

    &:disabled {
        background-color: #DADADA;
        color: #8F8F8F;
    }

    &_small {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}