:host {
    width: 100%;
    height: 100%;
    padding: 150px 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: -1;
}

.scale-background {
    width: 180px;
    height: 90px;
    position: relative;
    background-image: url('/assets/scale-bg.svg');
}

.arrow {
    position: absolute;
    left: calc(50% - 31px);
    bottom: -31px;
    transform-origin: 50% 68%;
    transform: rotate(0deg);
    transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
    animation: scale-start 700ms;
}

.mic {
    position: absolute;
    left: calc(50% - 9px);
    bottom: -13px;
}

@keyframes scale-start {
    0% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}