// global variables
:root {
    // fonts
    --font-main: 'Roboto', sans-serif;

    //colors
    --accent-color: #758FEA;
    --button-menu-bg: #EAEAEA;
    --button-active-text: #FFFFFF;
}

@keyframes header {
    from {
        height: 0px;
    }
    to {
        height: 56px;
    }
}

* {
    margin: 0;
    padding: 0;
    user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--font-main);
}

.wrapper {
    height: 100%;
    padding: 32px 20px;
    box-sizing: border-box;
}

.logical-component {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
}

.emotional-component {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
}

button {
    background-color: #758FEA;
    border-radius: 24px;
    font-size: 24px;
    color: white;
    border: none;
}