:host {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #afdbff8c;
    z-index: -1;
}

.water-level {
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    background-color: #6379c969;
    transition: all 1000ms;
    animation: water-start 1.5s;
}

@keyframes water-start {
    from {
        height: 100%;
    }
    to {
        height: 0px;
    }
}