


  <div class="game-end-wrapper" *ngIf="mode === 'win' else lose">

<div class="win">
  <div class="game-end-wrapper">
    <h1>Great result!</h1>

    <ion-button href="/menu">
      <span>Main menu</span>
    </ion-button>
</div>
</div>
  </div>


<ng-template #lose>
  <div class="lose">
  <div class="game-end-wrapper">
    <h1>Be careful...</h1>

    <div class="game-end-buttons">

<!--      <button href="/menu">-->
<!--        <span>Try again </span>-->
<!--      </button>-->

      <ion-button href="/menu">
        <span>Main menu</span>
      </ion-button>

    </div>
  </div>
  </div>
</ng-template>