.game-end-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 13%;
}

.game-end-buttons {
    display: flex;
    flex-direction: column;
}

.game-end-wrapper h1{
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 130%;
    margin-top: 170px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.84px;

    color: #404040;

}
.game-end-wrapper span
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 257%;
    /* or 46px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.84px;

    color: #FFFFFF;
}

.game-end-wrapper button
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 6px;
    position: relative;
    width: 150px;
    height: 56px;
    margin-bottom: 12px;
    //left: 115px;
    //top: 292px;

    background: #7791E8;
    border-radius: 8px;
}

.game-end-buttons button
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 6px;
    position: relative;
    width: 150px;
    height: 56px;
    margin-bottom: 12px;
    //left: 115px;
    //top: 292px;

    background: #7791E8;
    border-radius: 8px;

}

game-end-buttons span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 257%;
    /* or 46px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.84px;

    color: #FFFFFF;
}

.lose{
    background: url('./../../../assets/backgroundLose.svg') no-repeat ; /* Путь к фоновому изображению */
    background-size: cover;
    width: 100%;
    height: 100%;
}
.win{
    background: url('./../../../assets/backgroundWin.svg') no-repeat ; /* Путь к фоновому изображению */
    background-size: cover;
    width: 100%;
    height: 100%;
}